<header class="showcase">

  <div class="mainContainer showcase-inner">
    <div class="container container-fluid">
      <div class="row">
        <div class="col align-self-center ml-3">
            <div class="boxForPic"></div>
        </div>
      </div>


      <div class="row">
        <div class="container container-fluid">
        </div>
      </div>

      <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->

      <!-- COMIENZO DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
      <div class="row mt-2">
        <div class="container ListadoViajes">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark" cellspacing="0" cellpadding="1" border="1">
              <table class="table table-dark" cellspacing="0" cellpadding="1" border="1">
                <h1>Pasajeros Proximo Viaje</h1>
                <tr>
                  <th> Nombre </th>
                  <th> Apellido </th>
                  <th> Dni </th>
                  <th> Llenar DDJJ </th>
                  <th> Cancelar asiento</th>
                </tr>
                <% if @pasajes != nil %>
                  <% if @pasajes.first.user_id= -900%>
                    <tr> <td colspan="5"> No hay pasajeros aun. </td> </tr>
                    <div>
                    <td> <%= button_to("Cancelar Viaje", cancelar_choferes_path(@pasajes.first.id), method: 'get') %></td>
                    </div>
                    <%else%>
                      <% @pasajes.each do |v| %>
                      <% if User.find_by_id(v.user_id) != nil %>


                        <tr>
                          <td> <%=User.find_by_id(v.user_id).nombre%> </td>
                          <td> <%=User.find_by_id(v.user_id).apellido%> </td>
                          <td> <%=User.find_by_id(v.user_id).dni%> </td>

                          <% if (User.find_by_id(v.user_id).fecha_desbaneo != (Date.today - 1.days)) %>
                            <td> <%=button_to("Llenar DDJJ", llenar_ddjj_path(v.user_id))%> </td>
                            <% else %>
                            <td> DDJJ Completa </td>
                          <% end %>

                          <td> <%=button_to("Cancelar", cancelar_viaje_path(v.viaje_id,v.user_id))  %></td>
                        </tr>

                        <% end %>
                      <% end %>
                      <div>
                      <td> <%= button_to("Cancelar Viaje", cancelar_choferes_path(@pasajes.first.id), method: 'get') %></td>
                      </div>
                    <% end %>
                    <%else%>
                      <tr> <td colspan="5"> No hay viajes aun. </td> </tr>
                  <%end %>
            </table>

            </div>
            <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
          </div>
      </div>

    </div>

    <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->

</header>
