

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-2">
  <div class="card bg-dark text-light mt-2">
    <div class="container ml-5">
      <div class="row mt-2 mb-2">
        <h1>Nombre: <%= @user.nombre + " " + @user.apellido %></h1>
      </div>
      <div class="row mb-2">
        <h1>DNI: <%= @user.dni %></h1>
      </div>
      <div class="row mb-2">
        <h1>Fecha de Nacimiento: <%= @user.fecha_nacimiento %></h1>
      </div>
      <div class="row mt-2">
        <h2 class="font-weight-bold">¡Viajes pendientes!</h2>
      </div>

      <div class="row mt-2">
        <div class="container ListadoViajes">
          <div class="mr-5">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark" cellspacing="0" cellpadding="1" border="1">
            <tr>
              <th> Nombre </th>
              <th> Origen </th>
              <th> Destino </th>
              <th> Fecha </th>
              <th> Hora de salida </th>
              <th> Duracion </th>
              <th> Precio </th>
              <th> Cancelar </th>
            </tr>

              <% @viajesPendientes.each do |v| %>
                <tr>
                  <td> <%=v.nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
                  <td> <%=v.fecha.to_formatted_s(:long)%> </td>
                  <td> <%=v.hora_salida.to_formatted_s(:time)%> hs </td>
                  <td> <%=v.duracion.to_s(:time)%> hs </td>
                  <td> $<%= v.precio %></td>
                  <% if(v.fecha.day - Date.today.day > 3) %>
                    <td> <%=link_to 'Cancelar',cancelar_viaje_path(v), method:'post',class: "btn btn-primary",
                      data: { confirm: 'Al cancelar el viaje se le reintegrarán $'+ v.precio.to_s()+ '
                      Reglas del negocio:
                      -Se reintegra el 100% si hizo la cancelación en más de 72hs previo a la fecha del mismo
                      -Se reintegra el 50% si hizo la cancelación en menos de 72hs y más de 24hs a la fecha del mismo
                      -No se le reintegrará nada si cancela faltando menos de un día para el viaje.
                      ¿Está seguro?' }
                        %> </td>
                    <%elsif (v.fecha.day - Date.today.day.day >1)%>
                      <td> <%=link_to 'Cancelar',cancelar_viaje_path(v), method:'post',class: "btn btn-primary",
                        data: { confirm: 'Al cancelar el viaje se le reintegrarán $'+ (v.precio/2).to_s()+ '
                        Reglas del negocio:
                        -Se reintegra el 100% si hizo la cancelación en más de 72hs previo a la fecha del mismo
                        -Se reintegra el 50% si hizo la cancelación en menos de 72hs y más de 24hs a la fecha del mismo
                        -No se le reintegrará nada si cancela faltando menos de un día para el viaje.
                        ¿Está seguro?' }
                          %> </td>
                      <%else%>
                        <td><%=link_to 'Cancelar',cancelar_viaje_path(v), method:'post',class: "btn btn-primary",
                          data: { confirm: 'Al cancelar el viaje se le reintegrarán $0
                          Reglas del negocio:
                          -Se reintegra el 100% si hizo la cancelación en más de 72hs previo a la fecha del mismo
                          -Se reintegra el 50% si hizo la cancelación en menos de 72hs y más de 24hs a la fecha del mismo
                          -No se le reintegrará nada si cancela faltando menos de un día para el viaje.
                          ¿Está seguro?' }
                          %> </td>

                  <%end%>
                </tr>
              <% end %>

              <% if @viajesPendientes.size == 0 %>
                <tr> <td colspan="3"> No hay viajes disponibles. </td> </tr>
              <% end %>

            </table>
            </div>
            </div>
            <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
          </div>
      </div>




      <div class="row mt-2">
        <h2 class="font-weight-bold">Viajes pasados</h2>
      </div>



      <div class="row mt-2">
        <div class="container ListadoViajes">
          <div class="mr-5">
            <table class="table table-dark" cellspacing="0" cellpadding="1" border="1">
            <tr>
              <th> Nombre </th>
              <th> Origen </th>
              <th> Destino </th>
              <th> Fecha </th>
              <th> Preicio </th>
              <th> Comentar </th>
            </tr>

              <% @viajesPasados.each do |v| %>
                <tr>
                  <td> <%=v.nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
                  <td> <%=v.fecha.to_formatted_s(:long)%> </td>
                  <td> <%= v.precio%></td>
                  <td> <%=link_to 'Comentar',comentar_viaje_path(v.id),class: "comprarBtn btn btn-primary",method:'post'%> </td>
                 <td>
                  <% if Comentario.where(user_id: @user.id).where(viaje_id: v.id).empty?%>
                  <%=link_to 'Comentar',comentar_viaje_path(v.id),class: "comprarBtn btn btn-primary",method:'get'%>
                  <% end%>
                  <% if !Comentario.where(user_id: @user.id).where(viaje_id: v.id).empty?%>
                  <%=link_to 'Borrar comentario',
                  borrar_comentario_path(getComentario(v,current_user).id),
                  class: "comprarBtn btn btn-danger",
                  method:'delete',
                  data: { confirm: "¿Seguro que desea borrar su comentario: \"" + getComentario(v,current_user).mensaje + "\" en este viaje ?" }%>
                  <% end%>
                  </td>
                </tr>
              <% end %>

              <% if @viajesPasados.empty?%>
                <tr> <td colspan="3"> No hay viajes pasados. ¡Compra uno! </td> </tr>
              <% end %>

            </table>

            </div>
            <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
          </div>
      </div>
    
    </div>
  </div>
</div>
