<div class="container mt-5">
    <div class="card bg-dark">
        <div class="row align-items-center mb-5">
            <div class="col align-self-center">
                <h1 class="text-light text-center"> Viaje seleccionado: <%=@viaje.nombre%> </h1>
            </div>
        </div>

     <%= form_with(url: pagar_viaje_path(@viaje.id), method: :get,local: true) do  |form|%>
        <%= form.collection_check_boxes :adicional_id, @adicionales.all, :id, :nombre do |c|%>
        <div class="row align-items-center ml-5">
                <%=c.label(class: "col text-light") do %>
                    <%= c.check_box(class: "check_box") %>
                    <%= c.object.nombre %>
                    $<%= c.object.precio %>  
                <% end %>
        </div>
        <%end%>
        <div class="row align-items-center ml-5 mr-5">
            <div class="col col-sm col align-self-center ml-5 mr-5">
            <%= submit_tag 'Pagar', class: "form-control btn btn-primary"%>
            </div>
        </div>
     <%end%>




    </div>



</div>
