<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Portfolio</title>
  </head>
  <body>

    <div class="menu-wrap">
     <!-- Toggler is the checkbox that makes the menu pop -->


      <!-- <input type="checkbox" class="toggler"> -->
      <!-- <div class="topBtn"> <div></div></div> -->
      <!-- This is the information that will pop when you click the toggler -->
      <!-- So... SOmehow I broke the toggler... no spinning button for you. Sorry! -->
    </div>


<!-- showcase  - contiene
        container showcase-inner  -> Text that contains basic information
      -->
<!-- This is the actual text that appears in the webpage  -->
<header class="showcase">

  <div class="container showcase-inner">
    <div class="boxForPic"></div>

    <h2>Busca tu aventura </h2>
    <%= form_tag viajes_path ,  method: :get do %>
      <%= label :ciudad, "Origen" %>
      <%= select_tag :origen_id , options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:origen_id]) , class: "form-control"%>
      <%= label :ciudad,  "Destino" %>
    <%= select_tag :destino_id , options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:destino_id]) , class: "form-control"%>
      <%= submit_tag 'Buscar' %>
    <%end %>



    <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->
    <h3 class="card-title"> </h3>

    <table class="table">

      <tr>
        <th> Nombre </th>
        <th> Origen </th>
        <th> Destino </th>
        <th> Fecha </th>
        <th> Hora de salida </th>
        <th> Duracion </th>

      </tr>

      <% @viajes.each do |v| %>
        <tr>
          <td> <%=v.nombre%> </td>
          <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
          <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
          <td> <%=v.fecha.to_formatted_s(:long)%> </td>
          <td> <%=v.hora_salida.to_formatted_s(:time)%> hs </td>
          <td> <%=v.duracion.to_s(:time)%> hs </td>
        </tr>
      <% end %>

      <% if @viajes.size == 0 %>
        <tr> <td colspan="3"> No hay viajes disponibles. </td> </tr>
      <% end %>

    </table>
    <li>
      <%= link_to 'Cerrar Sesion', 'sign_out' , class: "a-primary"%>
    </li>
  </div>

</header>
  </body>
</html>
