<header class="showcase">

  <div class="mainContainer showcase-inner">
    <div class="container container-fluid">
      <div class="row">
        <div class="col align-self-center ml-3">
            <div class="boxForPic"></div>
        </div>
        <div class="col-8 mt-2">
          <div class="card">
            <% @comentarios.each do |j| %>
              <div class="card bg-dark m-1">
              <ul class="font-italic"> "<%= j.mensaje %>" -
              <%=j.user_id==nil ? "Usuario Anónimo":(@users.find(j.user_id).nombre)%>
              </ul>
              </div>
            <% end %>







            <% if @comentarios.size == 0 %>
              <h1 colspan="3"> Los mejores viajes. </h1>
            <% end %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="container container-fluid">
          <div class="card bg-dark mt-5">
            <div class="row">
              <div class="col">
              <h2>Busca tu aventura </h2>
              </div>
            </div>
            <%= form_tag viajes_path ,  method: :get do %>
            <div class="row">
              <div class="col mb-4 ml-1">

                <%= label :ciudad, "Origen" %>

                <%= select_tag :origen_id,
                options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:origen_id]),
                include_blank: true,
                class: "form-control js-select2-box"
                %>

              </div>

              <div class="col mb-4">
                <%= label :ciudad,  "Destino" %>

                <%= select_tag :destino_id ,
                options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:destino_id]),
                include_blank: true,
                class: "form-control js-select2-box"
                %>
              </div>
              <div class="col mb-4">
                <%= label :fecha,  "Fecha" %>
                <%= date_field(:viaje, :fecha,class: "form-control") %>
              </div>
              <div class="col mb-4 align-self-end mr-1">
                <%= submit_tag 'Buscar', class: "form-control"%>
              </div>
            </div>
            <%end %>
          </div>
        </div>
      </div>

      <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->

      <!-- COMIENZO DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
      <div class="row mt-2">
        <div class="container ListadoViajes">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark" cellspacing="0" cellpadding="1" border="1">
            <tr>
              <th> Nombre </th>
              <th> Origen </th>
              <th> Destino </th>
              <th> Fecha </th>
              <th> Hora de salida </th>
              <th> Duracion </th>
              <th> Precio </th>
              <th> Estado/Motivo </th>
              <th> Comprar </th>
            </tr>
            <% #POR COMO FUNCIONAN LOS OPERADORES. SI EL CURRENT USER ES NIL, ENTRARA DE UNA SIN CHEQUEAR LA SEGUNDA CONDICION%>
            <% #POR LO TANTO, NO GENERARA UN ERROR. SI ES DISTINTO DE NIL, VERIFICARA LA OTRA CONDICION%>
            <% if (current_user.fecha_desbaneo == nil) ||  (current_user.fecha_desbaneo < Date.today) %>
              <% @viajes.each do |v| %>
                <tr>
                  <td> <%=v.nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
                  <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
                  <td> <%=v.fecha.to_formatted_s(:long)%> </td>
                  <td> <%=v.hora_salida.to_formatted_s(:time)%> hs </td>
                  <td> <%=v.duracion.to_s(:time)%> hs </td>
                  <td>$<%= v.precio%></td>
                  <% p= Pasaje.where(viaje_id: v.id).first %>
                  <% if p != nil %>
                    <% if( p.estado != nil) %>
                      <td> <%=p.estado %> </td>
                      <%else %>
                        <td> Disponible</td>
                    <%end%>
                    <% if(p.estado == nil) %>
                      <%if (v.asientos_restantes <= 0)%>
                      <td><%=button_to 'Sin asientos','#',:disabled => true,class: "comprarBtn btn btn-danger"%> </td>
                      <% elsif (Pasaje.where(viaje_id: v.id).where(user_id:current_user.id).empty?)%>
                      <td> <%=link_to 'Comprar',armado_pasaje_path(v.id),class: "comprarBtn btn btn-primary"%> </td>
                      <% else%>
                      <td><%=button_to 'Ya compraste','#',:disabled => true,class: "comprarBtn btn btn-success"%> </td>
                      <% end %>
                      <%else %>
                        <td> Viaje cancelado por chofer</td>
                    <% end %>
                    <%else %>
                      <td> Disponible</td>
                      <%if (v.asientos_restantes <= 0)%>
                      <td><%=button_to 'Sin asientos','#',:disabled => true,class: "comprarBtn btn btn-danger"%> </td>
                      <% elsif (Pasaje.where(viaje_id: v.id).where(user_id:current_user.id).empty?)%>
                      <td> <%=link_to 'Comprar',armado_pasaje_path(v.id),class: "comprarBtn btn btn-primary"%> </td>
                      <% else%>
                      <td><%=button_to 'Ya compraste','#',:disabled => true,class: "comprarBtn btn btn-success"%> </td>
                      <% end %>
                  <%end%>

                </tr>


              <% end %>
              <% else %>
                <tr> <td colspan="8"> No podra comprar viajes hasta el <%= current_user.fecha_desbaneo.day%>/<%= current_user.fecha_desbaneo.month%>/<%= current_user.fecha_desbaneo.year%> </td> </tr>
              <% end %>



              <% if @viajes.size == 0 %>
                <tr> <td colspan="8"> No hay viajes disponibles. </td> </tr>
              <% end %>

            </table>

            </div>
            <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
          </div>
      </div>

    </div>

    <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->

</header>
