<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>


<header class="showcase">

  <div class="mainContainer showcase-inner">
    <div class="boxForPic"></div>

    <h2>Busca tu aventura </h2>

    <table class="table">



<!-- COMIENZO DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
  <tr>
    <div class="ListadoViajes">

      <th> Origen
        <select class="js-select2-box">
          <option value=empty>
          </option>
            <% Ciudad.all.each do |ciudad| %>
              <option value="<%= ciudad.nombre %>">
                  <%= ciudad.nombre %>
              </option>
            <% end %>
          </select>
      </th>

      <th>  Destino
        <select class="js-select2-box">
          <option value=empty>
          </option>
            <% Ciudad.all.each do |ciudad| %>
              <option value="<%= ciudad.nombre %>">
                <%= ciudad.nombre %>
              </option>
            <% end %>
          </select>
      </th>

        <th> Fecha   <%= date_field_tag(:buscar) %> </th>

        <th><%= submit_tag ("Buscar") %>  </th>

    </tr>


    <%= form_tag viajes_path ,  method: :get do %>
      <%= label :ciudad, "Origen" %>
      <%= select_tag :origen_id , options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:origen_id]) , class: "form-control js-select2-box"%>
      <%= label :ciudad,  "Destino" %>
    <%= select_tag :destino_id , options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:destino_id]) , class: "form-control js-select2-box"%>
      <%= submit_tag 'Buscar' %>
    <%end %>


    <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->
    <h3 class="card-title"> </h3>

    <table class="table">

    <tr>
      <th> Nombre </th>
      <th> Origen </th>
      <th> Destino </th>
      <th> Fecha </th>
      <th> Hora de salida </th>
      <th> Duracion </th>
    </tr>

      <% @viajes.each do |v| %>
        <tr>
          <td> <%=v.nombre%> </td>
          <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
          <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
          <td> <%=v.fecha.to_formatted_s(:long)%> </td>
          <td> <%=v.hora_salida.to_formatted_s(:time)%> hs </td>
          <td> <%=v.duracion.to_s(:time)%> hs </td>
        </tr>
      <% end %>

      <% if @viajes.size == 0 %>
        <tr> <td colspan="3"> No hay viajes disponibles. </td> </tr>
      <% end %>

    </table>

    </div>
    <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->


<!-- COMENTARIOS tiene mensaje, user_id -->
    <div class="Comentarios table">

      <% @comentarios.each do |j| %>
        <%= j.mensaje %>
        <br>
        <br>
      <% end %>


      <% if @comentarios.size == 0 %>
        <tr> <td colspan="3"> No hay comentarios disponibles. </td> </tr>
      <% end %>

  </div>



</header>
  </body>
</html>
