<header class="showcase">

  <div class="mainContainer showcase-inner">
    <div class="container container-fluid">
      <div class="row">
        <div class="col align-self-center ml-3">
            <div class="boxForPic"></div>
        </div>
        <div class="col-8 mt-2">
          <div class="card">
            <% @comentarios.each do |j| %>
              <div class="card bg-dark m-1">
              <ul class="font-italic"> "<%= j.mensaje %>" -
              <%=j.user_id==nil ? "Usuario Anónimo":(@users.find(j.user_id).empty? @users.find(j.user_id).nombre:"na")%>
              </ul>
              </div>
            <% end %>


            <% if @comentarios.size == 0 %>
              <h1 colspan="3"> Los mejores viajes. </h1>
            <% end %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="container container-fluid">
          <div class="card bg-dark mt-5">
            <div class="row">
              <div class="col">
              <h2>Busca tu aventura </h2>
              </div>
            </div>
            <%= form_tag viajes_path ,  method: :get do %>
            <div class="row">
              <div class="col mb-4 ml-1">

                <%= label :ciudad, "Origen" %>

                <%= select_tag :origen_id,
                options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:origen_id]),
                include_blank: true,
                class: "form-control js-select2-box"
                %>

              </div>

              <div class="col mb-4">
                <%= label :ciudad,  "Destino" %>

                <%= select_tag :destino_id ,
                options_from_collection_for_select(Ciudad.all, "id", "nombre", params[:destino_id]),
                include_blank: true,
                class: "form-control js-select2-box"
                %>
              </div>
              <div class="col mb-4">
                <%= label :fecha,  "Fecha" %>
                <%=%>
              </div>
              <div class="col mb-4 align-self-end mr-1">
                <%= submit_tag 'Buscar', class: "form-control"%>
              </div>
            </div>
            <%end %>
          </div>
        </div>
      </div>

      <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->

      <!-- COMIENZO DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
      <div class="row mt-2">
        <div class="container ListadoViajes">

          <table class="table table-dark">

          <tr>
            <th> Nombre </th>
            <th> Origen </th>
            <th> Destino </th>
            <th> Fecha </th>
            <th> Hora de salida </th>
            <th> Duracion </th>
            <th> Comprar </th>
          </tr>

            <% @viajes.each do |v| %>
              <tr>
                <td> <%=v.nombre%> </td>
                <td> <%=Ciudad.find(v.ruta.origen_id).nombre%> </td>
                <td> <%=Ciudad.find(v.ruta.destino_id).nombre%> </td>
                <td> <%=v.fecha.to_formatted_s(:long)%> </td>
                <td> <%=v.hora_salida.to_formatted_s(:time)%> hs </td>
                <td> <%=v.duracion.to_s(:time)%> hs </td>
                <td> <%=link_to 'Comprar',armado_pasaje_path(v.id),class: "comprarBtn btn btn-primary"%> </td>
              </tr>
            <% end %>

            <% if @viajes.size == 0 %>
              <tr> <td colspan="3"> No hay viajes disponibles. </td> </tr>
            <% end %>

          </table>

          </div>
          <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->
      </div>

    </div>

    <!-- FIN DEL SEPARADOR PARA EL LISTADO DE VIAJES -->


<!-- COMENTARIOS tiene mensaje, user_id -->
    <div class="Comentarios table">

      <% @comentarios.each do |j| %>
        <%= j.mensaje %>
        <br>
        <br>
      <% end %>


      <% if @comentarios.size == 0 %>
        <tr> <td colspan="3"> No hay comentarios disponibles. </td> </tr>
      <% end %>

  </div>

</header>
