

<%= form_for :ddjj, url: "ddjj_controller/new" do |f| %>
<%= token_tag %>

  <div class="showcase">
    Declaracion Jurada de:
    <%= @usuario.nombre %>
    <%= @usuario.apellido %>
    <br/><br/>

    <%= hidden_field_tag 'user_id', @usuario.id  %>

    (!) - Temperatura actual [número con un decimal]
    <%= f.number_field :temperatura_actual , :required => true%> <br/>

    (!) - ¿Ha retornado del exterior del país en los últimos 14 días?
    <%= f.check_box :retorno_14_dias %> <br/>

    (!) - ¿Ha estado en contacto con alguien que haya presentado síntomas respiratorios o fiebre, o haya sido caso confirmado de COVID en los últimos 14 días?
    <%= f.check_box :contacto_riesgoso %> <br/><br/>


    En los últimos 14 días: <br/>
    (!) - ¿Presentó síntomas respiratorios (tos, dificultad respiratoria?
    <%= f.check_box :sintomas_respiratorios %> <br/>
    (!) - ¿Tuvo fiebre de 37,5ºC o más?
    <%= f.check_box :fiebre %> <br/>
    (!) - ¿Tuvo dolor de garganta?
    <%= f.check_box :dolor_garganta %> <br/><br/>

    Prevalencia <br/>
    - ¿Es hipertenso?
    <%= f.check_box :hipertenso %> <br/>
    - ¿Tiene enfermedades respiratorias?
    <%= f.check_box :enfermedades_respiratorias %> <br/>
    - ¿Es diabético?
    <%= f.check_box :diabetico %> <br/>
    - ¿Es una persona inmunodeprimida?
    <%= f.check_box :inmunodeprimida %> <br/>
    - ¿Tiene problemas cardíacos?
    <%= f.check_box :problemas_cardiacos %> <br/><br/>

    Entorno familiar <br/>
    - ¿Tiene hijos menores de edad escolarizados?
    <%= f.check_box :hijos_menores %> <br/>
    - ¿Convive en su hogar persona embarazada?
    <%= f.check_box :convive_embarazada %> <br/>
    - ¿Convive en su hogar con alguna persona que presenta fiebre de al menos 37,5ºC y además síntomas respiratorios (tos, dolor de garganta, dificultad respiratoria)?
    <%= f.check_box :convive_fiebre %> <br/> <br/>

    <%= f.submit "Enviar DDJJ" %>
  </div>


<% end %>
