<div>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <label class="amount centerTheData ">

        <p> El precio es <%= @precio %> </p>



          <%= form_with(url: confirmar_Tarjeta_path(), method: :post, local: :true) do |f|%>
            <%= f.hidden_field :viaje_id, :value =>@viaje_id.to_i %>
            <% @adicionales.each do |ad| %>
              <%= f.hidden_field :adicionales, :multiple => true, :value => ad %>
            <% end %>

            <%= label_tag('cc-number', 'Numero de Tarjeta:' ) %>
            <%= f.number_field :numero  %>
            <br>


            <%= label_tag('cc-cvc', 'CVC:') %>
            <%= f.number_field :cvv %>
            <br>

            <%= label_tag('cc-exp-month', 'Expiry Date:') %>
            <%= f.date_field :fecha_vencimiento %>
            <br>

            <%= f.submit "Pagar" %>

          <% end %>




        </label>



</article>
</div>
