<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <!-- CAMPOS AGREGADOS MANUALMENTE -->
  <!-- CAMPOS AGREGADOS MANUALMENTE -->
  <!-- CAMPOS AGREGADOS MANUALMENTE -->

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autofocus: true, autocomplete: "apellido" %>
  </div>

  <div class="field">
    <%= f.label :dni %><br />
    <%= f.text_field :dni, autofocus: true, autocomplete: "dni" %>
  </div>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, autofocus: true, autocomplete: "telefono" %>

  <div class="field">
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_field :fecha_nacimiento, autofocus: true, autocomplete: "fecha_nacimiento" %>

  <!-- CAMPOS AGREGADOS MANUALMENTE -->
  <!-- CAMPOS AGREGADOS MANUALMENTE -->
  <!-- CAMPOS AGREGADOS MANUALMENTE -->


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
